.course-chip {
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 1rem !important;
  background-color: white !important;
  color: #a2b29f !important;
}
.empty-list {
  font-size: 1.5rem;
  color: #a2b29f;
  margin: 0;
  padding: 0;
}

.course-stack {
  max-width: 450px;
  min-height: 500px;
}
