.course-header {
  font-weight: 500;
  font-family: "Roboto Condensed", sans-serif;
  color: #a2b29f;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0.5rem;
  max-width: 450px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Media query for md screens */
@media (max-width: 900px) {
  .course-header {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
}

.course-list {
  height: auto;
  padding-right: 16px;
}
