.filter-container {
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
}

.filter-heading {
  border-bottom: 2px solid #637381 !important;
  border-radius: 0px !important;
  word-wrap: break-word !important;
  width: 100% !important;
}

.checkbox-label {
  color: #000000;
  word-wrap: break-word;
  padding-left: 10px;
}
