.chart-container {
  width: 100%;
  height: 600px;
}
.title {
  font-size: "3rem" !important;
}

/* Media query for md screens */
@media (max-width: 900px) {
  .title {
    font-size: "1em" !important;
  }
}

@media (max-width: 600px) {
  .chart-container {
    height: 400px;
  }
}
